---
import Base from '@layouts/Base.astro';
import Preview from '@components/blog/Preview.astro';
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { sortMDByDate } from '@utils';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return paginate(sortMDByDate(allPosts), { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Base title="Blog">
  <h1 class="text-4xl font-bold">Blog</h1>
  <section>
    <ul>
      {
        page.data.map((p) => (
          <li>
            <Preview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
</Base>
