---
import Head from '@components/Head.astro';
import Navbar from '@components/layout/Navbar.astro';

const { title } = Astro.props;
---

<html lang="en">
  <Head title={title} />
  <body class="bg-gray">
    <div
      class="flex h-screen flex-col justify-stretch sm:flex-row sm:justify-items-end"
    >
      <Navbar />
      <main class="ml-3 mt-7 flex-grow sm:ml-0">
        <slot />
      </main>
    </div>
  </body>
</html>
